:root {
  --branding-color: #6c63ff;
  --second-color: #f9f7fe;
  --heading-font-famaly: "Playfair Display SC", serif;
  --default-font-famaly: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-famaly);
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

h2 {
  font-family: var(--heading-font-famaly);
  font-weight: bold;
  font-size: 64px;
}
h1 {
  font-family: var(--heading-font-famaly);
  font-weight: bold;
}
h3 {
  font-size: 20px;
  font-family: var(--heading-font-famaly);
  font-weight: normal;
}
footer .ontact-box h4 {
  font-family: var(--heading-font-famaly);
  font-weight: bold;
  font-size: 48px;
}

.hero {
  background: var(--second-color);
  text-align: center;
  padding: 20px 20px;
}

.hero p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.hero h1 {
  font-family: var(--heading-font-famaly);
  font-weight: bold;
  font-size: 96px;
}
.hero h2 {
  font-family: var(--heading-font-famaly);
  font-weight: normal;
  line-height: 2;
  font-size: 40px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-descriotion {
  padding: 120px 60px;
}

footer {
  margin: 50px 0;
}

footer .cosial-link a,
.cosial-link a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--second-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 100%;
  transition: all 150ms ease-in-out;
}

footer .cosial-link a:hover {
  color: white;
  background-color: var(--branding-color);
}

.cosial-link a:hover {
  color: white;
  background-color: var(--branding-color);
}

footer .email-link,
.email-link a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  transition: all 100ms ease-in-out;
}

footer .email-link:hover {
  color: var(--branding-color);
}
.email-link a:hover {
  color: var(--branding-color);
}

footer .contact-box {
  background-color: var(--second-color);
  padding: 30px 120px;
  border-radius: 5px;
}

footer .contact-box p {
  margin: 0;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }
  h2 {
    font-size: 44px;
    text-align: center;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 15px;
  }

  .btn-branding {
    display: block;
    margin: 0 auto;
  }
  .p {
    text-align: center;
  }
}
.hero-contacts {
  background: var(--second-color);
  text-align: center;
  padding: 20px 20px;
}
